/* ======
General styles
======= */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #2b2b2b;
  max-width: 1160px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
}

p,
li {
  font-size: 18px;
}

a {
  color: #1f5a78;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  background-color: #1f5a78;
  color: #fff;
}

.section-header {
  text-align: center;
  padding-top: 50px;
}

/* ======
Button styles
======= */
.button {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.button-primary {
  border: none;
  font-family: inherit;
  background-color: #1f5a78;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button-primary:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.6;
}

.button-secondary {
  border: 1px solid #1f5a78;
  font-family: inherit;
  background-color: #fff;
  color: #1f5a78;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.button-secondary:hover {
  background-color: #1f5a78;
  color: #fff;
  text-decoration: none;
}

/* ======
Header styles
======= */
#mobile-menu {
  display: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid #1f5a78;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  line-height: 70px;
}

.navigation-list__item--active {
  font-weight: 700;
}

/* ======
Footer styles
======= */
.page-footer {
  text-align: center;
  padding-top: 50px;
}

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sns-list li {
  margin: 15px;
}

.copyright {
  font-size: 14px;
}

/* ======
Index section styles
======= */
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  margin: 20vh auto;
}

.profile__portrait {
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  -webkit-animation-name: mymove;
  animation-name: mymove;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@-webkit-keyframes mymove {
  30% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes mymove {
  30% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.profile span {
  background-color: #befafd;
}

/* ======
About page styles
======= */
.about p {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 1.6;
}

/*
Animation
*/
.animation {
  background: #f8f8f8;
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.sun {
  -webkit-animation-name: change-color;
  animation-name: change-color;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes change-color {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes change-color {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.cloud-front {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-name: cloud-f-move;
  animation-name: cloud-f-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud-f-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-f-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-back {
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-name: cloud-b-move;
  animation-name: cloud-b-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud-b-move {
  from {
    -webkit-transform: translate(446px, 50px);
    transform: translate(446px, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-b-move {
  from {
    -webkit-transform: translate(446px, 50px);
    transform: translate(446px, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

/* ======
Work page styles
======= */
.project-list {
  width: 100%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.project-list__item {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 10px 20px;
  width: 30%;
  margin-bottom: 20px;
}

.project-list__item p {
  text-align: left;
}

/* ======
Contact page styles
======= */
form {
  background: #f8f8f8;
  width: 350px;
  margin: 30px auto 0;
  text-align: left;
  padding: 30px;
  border-radius: 8px;
}

.field {
  display: block;
  width: 100%;
  margin: 5px 0 20px;
  padding: 5px;
}

#submit-btn {
  display: block;
  margin: 0 auto;
}

textarea {
  resize: none;
  height: 100px;
}

/* ======
Media queries
======= */
@media all and (max-width: 700px) {
  .navigation-list,
  .animation {
    display: none;
  }

  #mobile-menu {
    display: block;
    width: 40px;
    float: right;
    margin-top: 20px;
  }

  .profile {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .profile h1 {
    margin-top: 30px;
  }

  .profile__portrait {
    margin: 0 auto;
  }

  .project-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .project-list__item {
    width: 300px;
  }

  .page-footer {
    padding-top: 30px;
  }
}

@media all and (min-width: 700px) and (max-width: 900px) {
  .project-list__item {
    width: 45%;
  }
}

@media all and (max-width: 900px) {
  .section-header {
    padding-top: 30px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  li,
  a {
    font-size: 16px;
  }
}
